<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/headercat') %>
        <main>
            <section class="sectionLeft">
                <img src="../image/productsimages/<%=product.image1 %>" id="imagenPrincipal">
                <div class="imagenesAbajo">
                    <img src="../image/biciImgA.jpg" id="imagenSecundaria">
                    <img src="../image/biciImgB.jpg" id="imagenSecundaria">
                    <img src="../image/biciImgC.jpg" id="imagenSecundaria">
                    <img src="../image/biciImgD.jpg" id="imagenSecundaria">
                </div>
                <p class="descripcionProducto">
                    <%= product.desc1 %>
                </p>
            </section>
            <section class="sectionRight">
                <h1 class = "precio"> <%= product.brand.name + " " + product.model %></h1>
                <h2 class ="desc2">  <%= product.desc2 %> </h2>
                <h3> <%= product.price %>$</h3>
                    <div class="caracteristicas">
                        
                    </div>
                    <div class="counter">
                        <span class="down" onClick='decreaseCount(event, this)'>-</span>
                        <input type="text" value="<%= product.stock %>">
                        <span class="up"  onClick='increaseCount(event, this)'>+</span>
                    </div>
                    <h1 class="cuotas">Hasta <%= product.cuotas %> cuotas sin interes</h1>


                    <form action ="/products/edit/<%=product.id%>" method="GET" >
                        <button type="submit" class="product-botton">Editar</button>
                    </form>

        
                


            </section>
        </main>

        <%- include('../partials/footer') %>
</body>

</html>