<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/headercat') %>
        <div class = "productMain">
            <div class = "prodcutoShow">
                <form>
                    <div class = "sectionTop">
                <section class = "infoProducto">
                    <h1><%= product.brand.name  %> <%= product.model %> </h1>
                    <p id = "desc1">
                        <%= product.desc1  %> 
                    </p>
                    <div class = "infoBici">
                        <select name = "color">
                            <option value="">Eliga color</option>
                            <% for( let i = 0; i < product.colors.length; i++ ) { %>
                                <option value="<%= product.colors[i].id  %>"><%=product.colors[i].name%></option>    
                            <% } %>
                        </select>
                        <select name = "size">
                            <option value="">Eliga Tamaño rodado</option>
                            <% for( let i = 0; i < product.sizes.length; i++ ) { %>
                                <option value="<%= product.sizes[i].id  %>"><%=product.sizes[i].name%></option>    
                            <% } %>
                        </select>
                    </div>
                </section>
                
                <section class = "imagenesProducto">
                <div class = "imagenPrincipal">
                    <img src = "/image/productsimages/<%= product.image1  %> " width="100%">
                </div>
                <div class="imagenesSecundarias">
                    <img src="../image/biciImgA.jpg" width="100%" >
                    <img src="../image/biciImgB.jpg" width="100%" >
                    <img src="../image/biciImgC.jpg" width="100%" >
                    <img src="../image/biciImgD.jpg" width="100%">
                </div>
                </section>
                </div>

                <div class = "sectionLow">
                <section class = "caracteristicasBici infoProducto">
                    <h1 id = "precio"> 
                       Precio: <%= product.price  %>$
                    </h1>
                    <p id= "cualidad">Descuento: <%= product.discount  %>% </p>
                    <p id= "cualidad">Stock: <%= product.stock %> Unidades</p>
                    <p id= "cualidad"> <%= product.desc2  %> </p>

                </section>
                

                <section class = "botonesProducto">
                    <button id = "comprar"  type = "submit">Agregar al carrito</button>
                </section>

                </div>
                </form>
            </div>
            <% if (locals.userLogged && locals.userLogged.rolId <=2) { %>
                <section class = "productoAdmin">

                    <h1>Bienvenidos administrador</h1>
                    <div class = "botonesAdmin">
                    <a href = "/products/edit/<%=product.id%>"><button>Editar Producto</button></a>
                    <form  action= "/products/activate/<%=product.id%>" method = "POST">

                        <% if (product.activate == 1) { %>
                            <button type="submit" > Disactivate</button>
                        <% } else { %>
                            <button type="submit" >Actiavte</button>
                            <% }  %>
                    </form>

                    </div>
                </section> 
                <% } %>

               
                
              

         
            </div>

        <%- include('../partials/footer') %>
</body>

</html>