<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/headercat') %>

    <section class = "creacion">
        <div class = "creacion-producto" >

            <h1>Detalle usuario</h1>
            <div class = "infoUser">
                <% if (user.image == null) { %>
                    <img id = "userImage" src = "/image/users/default.png" width="100px">
                <% }  else { %>
                    <img id = "userImage" src = "/image/users/<%=user.image%>"  width= "300px">
                    <% } %>


                <h2 class = "detailUser">Nombre: <%= user.firstname %> <%= user.lastname %> </h2>
                <h2 class = "detailUser">Email: <%= user.email %> </h2>
                <h2 class = "detailUser">Telefono: +<%= user.phone  %> </h2>
                <% if (user.image == null) { %>
                    <h1>
                        Complete la informacion que falta
                    </h1>
                <form method="POST" action="/users/profile/upload/<%=user.id%>" enctype="multipart/form-data">
                    <label for = "image">Inserte imagen de perfil</label>
                    <input type="file" name = "image">
                    <!--
                    <h2 style="text-align: center; align-self: center;">Direccion de envio</h2>
                    <label for = "street">Calle:</label>
                    <input type="text" name = "street">
                    <label for = "number">Numero de calle:</label>
                    <input type="text" name = "number">
                    <label for = "apt">Numero de apt:</label>
                    <input type="text" name = "apt">
                    <label for = "city">Ciudad:</label>
                    <input type="text" name = "city">
                    <label for = "country">Pais:</label>
                    <input type="text" name = "country">
                    <label for = "zipcode">Codigo postal:</label>
                    <input type="text" name = "zipcode">
                    -->
                    
                    <button type="submit">Insertar info</button>

                </form>
                 
                <% } else { %>
                <div class = "centrado">
                <a href = "/users/edit"><button>Editar</button></a>
                </div>


                
                <form method="POST" action="/users/delete/<%=user.id%>?_method=DELETE">
                    <button type="submit">!Delete!</button>
                </form>

                    <% } %>




            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>
</body>